{% extends 'base.html' %}
{% load static %}

{% block base_head %}
    <link rel="stylesheet" href="/static/css/add_prop.css?{% now 'U' %}">
{% endblock %}

{% block content %}

    <div class="QGIZl">
        <section class="post-form-section">
            <form>
                <div class="post_box">
                    <h1 class="pp_h1">Post Property</h1>
                    <span class="pp_span">Sell/Rent/Lease your property in Simple Steps. Posting ad is free of cost <i class="far fa-smile-wink"></i></span>
                </div>

                {#Section -1 #}
                <div class="post_box_dashed dashed-1">
                    <h3 class="pb-3">Tell us about your property</h3>

                    <div class="post_type_div">
                        <span>List property for*</span>
                        <div class="post_options_outer">
                            <div class="post_options_inner">
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="SELL" >
                                    <span class="post_option_item">SELL</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="BUY" >
                                    <span class="post_option_item">BUY</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="RENT" >
                                    <span class="post_option_item">RENT</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="LEASE" >
                                    <span class="post_option_item">LEASE</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="post_type_div mt-3  ">
                        <span>Property type*</span>
                        <div class="post_options_outer">
                            <div class="post_options_inner">
                                <label>
                                    <input class="post_option_input" type="radio" name="propertyType" value="flat" >
                                    <span class="post_option_item">FLAT</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="propertyType" value="appartment" >
                                    <span class="post_option_item">APPARTMENT</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="propertyType" value="plot" >
                                    <span class="post_option_item">PLOT</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="propertyType" value="villaHouse" >
                                    <span class="post_option_item">VILLA&nbsp;/&nbsp;INDEPENDENT&nbsp;HOUSE</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="propertyType" value="commercial" >
                                    <span class="post_option_item">COMMERCIAL</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="propertyType" value="builderFloor" >
                                    <span class="post_option_item">BUILDER&nbsp;FLOOR</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="propertyType" value="officeSpace" >
                                    <span class="post_option_item">OFFICE&nbsp;SPACE</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="propertyType" value="others" >
                                    <span class="post_option_item">OTHERS</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="max_width mt-3">
                        <div>
                            <div>
                                <div class="calender_div">
                                    <label class="avail_from" for="available_from">Available from</label>
                                    <input type="date" class="date-input" min="2021-08-26" name="available_from" required=""  value="2021-08-26">
                                </div>
                            </div>
                        </div>
                    </div>


                    {# modal button trigger #}
                    <div class="max_width mt-3">
                        <div>
                            <div>
                                <div class="calender_div">
                                    <input type="button" class="btn btn-primary prop-details-btn bg-transparent " value="Property details*" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fas fa-caret-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="d-flex p-3 modal_header">
                                    <button type="button" class="btn-close p-2" data-bs-dismiss="modal" aria-label="Close"></button>
                                    <h3 class="modal-title ms-3" id="exampleModalLabel">Property Details</h3>
                                </div>
                                <span class="mandat-text">* fields are mandatory to fill</span>
                                <div class="modal-body p-3">
                                    <div class="row p-1 mt-2 mb-4">
                                        <div class="col-lg-4">
                                            <label class="label_city">City*</label>
                                            <input type="text" class="city_input" required>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="label_city">Locality*</label>
                                            <input type="text" class="city_input" required>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="label_city">Sub-locality</label>
                                            <input type="text" class="city_input" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="city_input p-3 mb-3" required placeholder="Project Name (optional)">
                                    </div>
                                    <div class="post_type_div mt-3 mb-2">
                                        <span>Property type*</span>
                                        <div class="post_options_outer">
                                            <div class="post_options_inner">
                                                <label>
                                                    <input class="post_option_input" type="radio" name="propertyType" value="flat" >
                                                    <span class="post_option_item">1RK</span>
                                                </label>
                                                <label>
                                                    <input class="post_option_input" type="radio" name="propertyType" value="appartment" >
                                                    <span class="post_option_item">1BHK</span>
                                                </label>
                                                <label>
                                                    <input class="post_option_input" type="radio" name="propertyType" value="builderFloor" >
                                                    <span class="post_option_item">2BHK</span>
                                                </label>
                                                <label>
                                                    <input class="post_option_input" type="radio" name="propertyType" value="villaHouse" >
                                                    <span class="post_option_item">3BHK</span>
                                                </label>
                                                <label>
                                                    <input class="post_option_input" type="radio" name="propertyType" value="villaHouse" >
                                                    <span class="post_option_item">4+&nbsp;BHK</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row p-1 mt-2 mb-4">
                                        <div class="col-lg-6 d-flex">
                                            <label class="label_city">Built Up*</label>
                                            <input type="number" class="city_input" value="0" required>
                                                <div class="unit_div">
                                                    <select class="unit-select">
                                                        <option value="Sq.Ft.">Sq.Ft.</option>
                                                        <option value="Sq.Ft.">yards</option>
                                                    </select>
                                                </div>
                                        </div>

                                        <div class="col-lg-6 d-flex">
                                            <label class="label_city">Carpet Area</label>
                                            <input type="number" class="city_input" value="0" required>
                                            <div class="unit_div">
                                                <select class="unit-select">
                                                    <option value="Sq.Ft.">Sq.Ft.</option>
                                                    <option value="Sq.Ft.">yards</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="border-none centre footer-div">
                                    <button type="button" class="btn btn-warning text-white btn-footer">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Section -2#}
                <div class="post_box">
                    <h3 class="pb-3" style="font-size: 1.25rem">Add Photos of Your Property</h3>
                    <div class="img-uploader-div w-100">
                        <div class="card shadow-sm">
                            <div class="card-header d-flex justify-content-between">
                                <h3>Image Preview will be available below</h3>
                                <form class="form" action="#" method="post" id="form1">
                                    <input type="file" name="Image" id="image" multiple="" class="d-none" onchange="image_select()">
                                    <button class="btn btn-sm btn-danger" type="button" onclick="document.getElementById('image').click()">Choose Images</button>
                                </form>
                            </div>
                            <div class="card-body flex-wrap" id="container">
                                <!-- Image will be show here-->
                            </div>
                        </div>
                        <p class="dxhf6u-0 hSaRrp jxvgwa-7 lmibEW"><b>Photos <span class="img-count" id="img-count"> <!-- -->0<!-- -->/15 </span> </b>Increase your chances of getting genuine responses by adding atleast 5 images. <br> Hall, Bedroom, Kitchen, and Bathroom images will be ideal to add for a home</p>
                    </div>

                </div>

                {# Section -3#}
                <div class="post_box_dashed dashed-1">
                    <h3>Property Price</h3>
                    <div class="col-lg-6 d-flex mt-4">
                        <label class="label_city">price*</label>
                        <label class="rupee_symbol" id="rupee"><i class="fas fa-rupee-sign"></i></label>
                        <input type="number" id="sale_price" class="city_input" placeholder="Sale Price (eg 5,00,000)" required onchange="format_amount()" style="padding-left: 35px">
                    </div>

                    <div class="div-check-items d-flex mt-3">
                        <label class="label-check-items me-3">
                            <input type="checkbox" name="is_negotiable">
                            <span class="text-is-negotiable ms-2">Price is negotiable</span>
                        </label>
                        <label class="label-check-items">
                            <input type="checkbox" name="is_negotiable">
                            <span class="text-is-negotiable ms-2">Price includes registration</span>
                        </label>
                    </div>

                </div>


                {# section -4 #}
                <div class="post_box_dashed dashed-1">
                    <h3 class="pb-4">More information about your property</h3>
                    <div class="prop_desc_div">
                        <div>
                            <div class="prop_desc_div_inner d-flex">
                                <textarea class="prop_desc_textarea" type="text" name="description" required="" rows="5"></textarea>
                                <label class="d99ta8-6 eWlKbh pA" for="description">About property (Min 30 characters)*</label>
                            </div>
                        </div>
                    </div>

                </div>

            </form>

        </section>
    </div>

{% endblock %}




{% block javascript  %}
    <script>
        document.getElementById("rupee").style.display = "none";
        document.getElementById("sale_price").style.paddingLeft = "20px";
        document.getElementById('container').style.display = "none";
        var images = [];

        <!-- this function will select images -->
        function image_select() {
            var image = document.getElementById('image').files;
            for (i = 0; i < image.length; i++) {
                if (check_duplicate(image[i].name)) {
                    images.push({
                        "name" : image[i].name,
                        "url" : URL.createObjectURL(image[i]),
                        "file" : image[i],
                    })
                } else
                {
                    alert(image[i].name + " is already added to the list");
                }
            }
            {#document.getElementById('form1').reset();#}
            document.getElementById('container').innerHTML = image_show();
        }

        <!-- this function will show images in the DOM -->
        function image_show() {
            document.getElementById('container').style.display = "flex";
            document.getElementById("img-count").innerText = images.length + " /15";
            var image = "";
            images.forEach((i) => {
                image += `<div class="image_container d-flex justify-content-center position-relative">
   	  	  	  	  <img src="${i.url}" alt="Image">
                    <span class="position-absolute" onclick="delete_image(${images.indexOf(i)})">&times;</span>
   	  	  	  </div>`;
            })
            return image;
        }

        <!-- this function will delete a specific image from the container -->
        function delete_image(e) {
            images.splice(e, 1);
            document.getElementById('container').innerHTML = image_show();
            document.getElementById("img-count").innerText = images.length + " /15";

        }

        <!-- this function will check duplicate images -->
        function check_duplicate(name) {
            var image = true;
            if (images.length > 0) {
                for (e = 0; e < images.length; e++) {
                    if (images[e].name == name) {
                        image = false;
                        break;
                    }
                }
            }
            return image;
        }

        function get_image_data() {
            var form = new FormData()
            for (let index = 0; index < images.length; index++) {
                form.append("file[" + index + "]", images[index]['file']);
            }
            return form;
        }
        $("form").on("submit", function (e) {
            e.preventDefault();
            $.ajax({
                url: "upload.php",
                type: "POST",
                processData: false,
                contentType: false,
                cache: false,
                data: send_image_data(),
                success: function (d) {
                    console.log(d)
                }
            })
        })

        function format_amount(){
            var x=document.getElementById("sale_price").value;
            x=x.toString();
            var num="";
            for(var i=0;i<x.length;i++){
                if(x.charAt(i) !== ','){
                    num+=x.charAt(i);
                }
            }
            var res = new Intl.NumberFormat('en-IN', {currency: 'INR', minimumFractionDigits: 0 }).format(num);
            console.log(res);

            document.getElementById("sale_price").type = "text";
            document.getElementById("sale_price").value = res;
            document.getElementById("rupee").style.display = "flex";
            document.getElementById("sale_price").style.paddingLeft = "35px";
        }

    </script>
{% endblock %}