{% extends "base.html" %}
{% load static %} <!--  mandatory for css -->
{% block base_head %}
    <link rel="stylesheet" href="/static/css/home_page.css?{% now 'U' %}">
{% endblock %}

{% block content %}

    {#IMAGE AND HEADER#}
    <div class=" header-bg">
        <div class="container-fluid">
            <!-- Hero Section -->
            <div class="row align-items-center g-0">
                <div class="col-xl-7 col-lg-12 col-md-12 qv">
                    <div class="py-5 py-lg-0 ms-4 queenvillaText">
                        <h1 class="text-white display-4 fw-bold">Welcome to QueenVilla Real Estates
                        </h1>
                        <p class="text-white-50 mb-4 lead">
                            Hand-picked properties and verified sellers, get top listings in your area! Join us to find
                            your dream villa or simply sell one.
                        </p>
                        {#                    <a href="#" class="btn btn-warning buy-btn text-black">Buy / Rent property</a>#}
                        {#                    <a href="#" class="btn btn-danger text-white sell-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Sell Property</a>#}

                        <!-- Sell Button trigger modal -->
                        <button style="font-weight: 600" type="button" class="btn btn-warning" id="Buy/Rent"
                                data-bs-toggle="modal" data-bs-target="#staticBackdropbuy">
                            Buy / Rent Property
                        </button>

                        <!-- Sell Button trigger modal -->
                        <button type="button" class="btn btn-danger" id="Sell" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                            Sell Property
                        </button>

                        {% include 'base/popup.html' %}
                        {% include 'base/buy-modal.html' %}

                    </div>
                </div>
                <div class=" col-xl-5 col-lg-12 col-md-12 text-lg-end text-center">
                    <img src="https://i.pinimg.com/originals/03/c0/ef/03c0ef42df7762772b8afa1aa14857e4.png" alt=""
                         class="img-fluid header-img">
                </div>
            </div>
        </div>
    </div>

    {#FEATURES CARD#}
    <div class="bg-white py-4 shadow-sm">
        <div class="container perks">
            <div class="row align-items-center g-0">
                <!-- Features -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-4">
                    <div class="d-flex align-items-center">
                        <span class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4 "> <i
                                class="fa fa-home"> </i></span>
                        <div class="ms-3">
                            <h4 class="mb-0 fw-semi-bold">30,000 verified properties</h4>
                            <p class="mb-0">Listings refreshed almost every hour</p>
                        </div>
                    </div>
                </div>
                <!-- Features -->
                <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-4">
                    <div class="d-flex align-items-center">
                        <span class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4 "> <i
                                class="fa fa-users"> </i></span>
                        <div class="ms-3">
                            <h4 class="mb-0 fw-semi-bold">Expert advice</h4>
                            <p class="mb-0">Get expert suggestions for your dream home</p>
                        </div>
                    </div>
                </div>
                <!-- Features -->
                <div class="col-xl-4 col-lg-4 col-md-12 mb-lg-0 mb-4">
                    <div class="d-flex align-items-center">
                        <span class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4 "> <i
                                class="fa fa-check"> </i></span>
                        <div class="ms-3">
                            <h4 class="mb-0 fw-semi-bold">Trusted sellers</h4>
                            <p class="mb-0">Get to know the seller before you buy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'search/snippets/search-form.html' %}

{#    <div class="container text-center my-3 mt-5 mb-5">#}
{#        <h2 class="font-weight-light">Top 5 Premium Properties</h2>#}
{#        <div class="row mx-auto my-auto">#}
{#            <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">#}
{#                <div class="carousel-inner w-100" role="listbox">#}
{#                    <div class="carousel-item active">#}
{#                        <div class="col-md-4">#}
{#                            <div class="card card-body">#}
{#                                <div class="card_body_inner">#}
{#                                    <img class="img-fluid" src="https://www.kindpng.com/picc/m/3-33337_house-1-home-photography-exterior-luxury-hd-png.png">#}
{#                                    <div class="div_amens">#}
{#                                        <div class="row gx-0 mt-2">#}
{#                                            <div class="col-3">#}
{#                                                <i class="fas fa-bed"></i> <span>4BHK</span>#}
{#                                            </div>#}
{#                                            <div class="col-4">#}
{#                                                <i class="fas fa-car"></i> <span>parking available</span>#}
{#                                            </div>#}
{#                                            <div class="col-5">#}
{#                                                <i class="fas fa-directions"></i> <span>North-West facing</span>#}
{#                                            </div>#}
{#                                            <div class="col-3 mt-4 font_big">#}
{#                                                <i class="fas fa-rupee-sign"></i> <span class="price">85,00,000</span>#}
{#                                            </div>#}
{#                                            <div class="col-8 mt-4 font_big">#}
{#                                                <span class="posession">Ready To Move</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

{#                    <div class="carousel-item ">#}
{#                        <div class="col-md-4">#}
{#                            <div class="card card-body">#}
{#                                <div class="card_body_inner">#}
{#                                    <img class="img-fluid" src="https://www.pngplay.com/wp-content/uploads/7/House-PNG-Clipart-Background.png">#}
{#                                    <div class="div_amens">#}
{#                                        <div class="row gx-0 mt-2">#}
{#                                            <div class="col-3">#}
{#                                                <i class="fas fa-bed"></i> <span>4BHK</span>#}
{#                                            </div>#}
{#                                            <div class="col-4">#}
{#                                                <i class="fas fa-car"></i> <span>parking available</span>#}
{#                                            </div>#}
{#                                            <div class="col-5">#}
{#                                                <i class="fas fa-directions"></i> <span>North-West facing</span>#}
{#                                            </div>#}
{#                                            <div class="col-3 mt-4 font_big">#}
{#                                                <i class="fas fa-rupee-sign"></i> <span class="price">85,00,000</span>#}
{#                                            </div>#}
{#                                            <div class="col-8 mt-4 font_big">#}
{#                                                <span class="posession">Ready To Move</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="carousel-item ">#}
{#                        <div class="col-md-4">#}
{#                            <div class="card card-body">#}
{#                                <div class="card_body_inner">#}
{#                                    <img class="img-fluid" src="https://www.kindpng.com/picc/m/219-2190956_house-hd-png-download.png">#}
{#                                    <div class="div_amens">#}
{#                                        <div class="row gx-0 mt-2">#}
{#                                            <div class="col-3">#}
{#                                                <i class="fas fa-bed"></i> <span>4BHK</span>#}
{#                                            </div>#}
{#                                            <div class="col-4">#}
{#                                                <i class="fas fa-car"></i> <span>parking available</span>#}
{#                                            </div>#}
{#                                            <div class="col-5">#}
{#                                                <i class="fas fa-directions"></i> <span>North-West facing</span>#}
{#                                            </div>#}
{#                                            <div class="col-3 mt-4 font_big">#}
{#                                                <i class="fas fa-rupee-sign"></i> <span class="price">85,00,000</span>#}
{#                                            </div>#}
{#                                            <div class="col-8 mt-4 font_big">#}
{#                                                <span class="posession">Ready To Move</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="carousel-item ">#}
{#                        <div class="col-md-4">#}
{#                            <div class="card card-body">#}
{#                                <div class="card_body_inner">#}
{#                                    <img class="img-fluid" src="http://pngimg.com/uploads/house/house_PNG67.png">#}
{#                                    <div class="div_amens">#}
{#                                        <div class="row gx-0 mt-2">#}
{#                                            <div class="col-3">#}
{#                                                <i class="fas fa-bed"></i> <span>4BHK</span>#}
{#                                            </div>#}
{#                                            <div class="col-4">#}
{#                                                <i class="fas fa-car"></i> <span>parking available</span>#}
{#                                            </div>#}
{#                                            <div class="col-5">#}
{#                                                <i class="fas fa-directions"></i> <span>North-West facing</span>#}
{#                                            </div>#}
{#                                            <div class="col-3 mt-4 font_big">#}
{#                                                <i class="fas fa-rupee-sign"></i> <span class="price">85,00,000</span>#}
{#                                            </div>#}
{#                                            <div class="col-8 mt-4 font_big">#}
{#                                                <span class="posession">Ready To Move</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="carousel-item ">#}
{#                        <div class="col-md-4">#}
{#                            <div class="card card-body">#}
{#                                <div class="card_body_inner">#}
{#                                    <img class="img-fluid" src="https://pngimage.net/wp-content/uploads/2018/06/indian-house-png-4.png">#}
{#                                    <div class="div_amens">#}
{#                                        <div class="row gx-0 mt-2">#}
{#                                            <div class="col-3">#}
{#                                                <i class="fas fa-bed"></i> <span>4BHK</span>#}
{#                                            </div>#}
{#                                            <div class="col-4">#}
{#                                                <i class="fas fa-car"></i> <span>parking available</span>#}
{#                                            </div>#}
{#                                            <div class="col-5">#}
{#                                                <i class="fas fa-directions"></i> <span>North-West facing</span>#}
{#                                            </div>#}
{#                                            <div class="col-3 mt-4 font_big">#}
{#                                                <i class="fas fa-rupee-sign"></i> <span class="price">85,00,000</span>#}
{#                                            </div>#}
{#                                            <div class="col-8 mt-4 font_big">#}
{#                                                <span class="posession">Ready To Move</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">#}
{#                    <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"#}
{#                          aria-hidden="true"></span>#}
{#                    <span class="sr-only">Previous</span>#}
{#                </a>#}
{#                <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">#}
{#                    <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"#}
{#                          aria-hidden="true"></span>#}
{#                    <span class="sr-only">Next</span>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="top_listing_heading">
        <h2>Our Top Listings</h2>
    </div>

    <section class="prem_props_section">
        <div class="div_items">
            <div class="div_item_inner">
                <div class="div_item">
                    <img class="img-fluid" src="https://pngimage.net/wp-content/uploads/2018/06/indian-house-png-4.png">
                    <div class="cf gx-0">
                        <div class="row gx-0 row_upper">
                            <div class="col-lg-3">
                                <i class="fas fa-bed"></i> <span>4 BHK</span>
                            </div>
                            <div class="col-lg-5">
                                <i class="fas fa-car"></i> <span>Parking Available</span>
                            </div>
                            <div class="col-lg-4">
                                <i class="fas fa-directions"></i> <span>North-West</span>
                            </div>
                        </div>
                        <div class="row cf_foot gx-0 align-items-end">
                            <div class="col-8">
                                <i class="fas fa-rupee-sign"></i> <span>85,00,000</span>
                            </div>
                            <div class="col-3">
                                <span class="pos_tag">Ready to Move</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div_item">
                    <img class="img-fluid" src="https://www.kindpng.com/picc/m/3-33337_house-1-home-photography-exterior-luxury-hd-png.png">
                    <div class="cf gx-0">
                        <div class="row gx-0 row_upper">
                            <div class="col-lg-3">
                                <i class="fas fa-bed"></i> <span>4 BHK</span>
                            </div>
                            <div class="col-lg-5">
                                <i class="fas fa-car"></i> <span>Parking Available</span>
                            </div>
                            <div class="col-lg-4">
                                <i class="fas fa-directions"></i> <span>North-West</span>
                            </div>
                        </div>
                        <div class="row cf_foot gx-0 align-items-end">
                            <div class="col-8">
                                <i class="fas fa-rupee-sign"></i> <span>85,00,000</span>
                            </div>
                            <div class="col-3">
                                <span class="pos_tag">Ready to Move</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div_item">
                    <img class="img-fluid" src="http://pngimg.com/uploads/house/house_PNG67.png">
                    <div class="cf gx-0">
                        <div class="row gx-0 row_upper">
                            <div class="col-lg-3">
                                <i class="fas fa-bed"></i> <span>4 BHK</span>
                            </div>
                            <div class="col-lg-5">
                                <i class="fas fa-car"></i> <span>Parking Available</span>
                            </div>
                            <div class="col-lg-4">
                                <i class="fas fa-directions"></i> <span>North-West</span>
                            </div>
                        </div>
                        <div class="row cf_foot gx-0 align-items-end">
                            <div class="col-8">
                                <i class="fas fa-rupee-sign"></i> <span>85,00,000</span>
                            </div>
                            <div class="col-3">
                                <span class="pos_tag">Ready to Move</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div_item">
                    <img class="img-fluid" src="https://www.kindpng.com/picc/m/219-2190956_house-hd-png-download.png">
                    <div class="cf gx-0">
                        <div class="row gx-0 row_upper">
                            <div class="col-lg-3">
                                <i class="fas fa-bed"></i> <span>4 BHK</span>
                            </div>
                            <div class="col-lg-5">
                                <i class="fas fa-car"></i> <span>Parking Available</span>
                            </div>
                            <div class="col-lg-4">
                                <i class="fas fa-directions"></i> <span>North-West</span>
                            </div>
                        </div>
                        <div class="row cf_foot gx-0 align-items-end">
                            <div class="col-8">
                                <i class="fas fa-rupee-sign"></i> <span>85,00,000</span>
                            </div>
                            <div class="col-3">
                                <span class="pos_tag">Ready to Move</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div_item">
                    <img class="img-fluid" src="https://pngimage.net/wp-content/uploads/2018/06/indian-house-png-4.png">
                    <div class="cf gx-0">
                        <div class="row gx-0 row_upper">
                            <div class="col-lg-3">
                                <i class="fas fa-bed"></i> <span>4 BHK</span>
                            </div>
                            <div class="col-lg-5">
                                <i class="fas fa-car"></i> <span>Parking Available</span>
                            </div>
                            <div class="col-lg-4">
                                <i class="fas fa-directions"></i> <span>North-West</span>
                            </div>
                        </div>
                        <div class="row cf_foot gx-0 align-items-end">
                            <div class="col-8">
                                <i class="fas fa-rupee-sign"></i> <span>85,00,000</span>
                            </div>
                            <div class="col-3">
                                <span class="pos_tag">Ready to Move</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


{% endblock %}

{% block javascript %}
    <script>




    </script>

{% endblock %}