{% extends "base.html" %}
{% load static %} <!--  mandatory for css -->
{% block base_head %}
<link rel="stylesheet" href="/static/css/home_page.css">
{% endblock %}

{% block content %}


<div class="bg-success">
    <div class="container-fluid">
        <!-- Hero Section -->
        <div class="row align-items-center g-0">
            <div class="col-xl-7 col-lg-4 col-md-12 qv">
                <div class="py-5 py-lg-0 ms-4 queenvillaText">
                    <h1 class="text-white display-4 fw-bold">Welcome to QueenVilla Real Estates
                    </h1>
                    <p class="text-white-50 mb-4 lead">
                        Hand-picked properties and verified sellers, get top listings in your area! Join us to find your dream villa or simply sell one.
                    </p>
                    <a href="#" class="btn btn-warning buy-btn text-black">Buy / Rent property</a>
                    <a href="#" class="btn btn-danger text-white sell-btn">Sell Property</a>
                </div>
            </div>
            <div class=" col-xl-5 col-lg-8 col-md-12 text-lg-end text-center">
                <img src="https://assets.webiconspng.com/uploads/2017/09/House-PNG-Image-64174.png" alt="" class="img-fluid" width="630">
            </div>
        </div>
    </div>
</div>


<div class="bg-white py-4 shadow-sm">
    <div class="container perks">
        <div class="row align-items-center g-0">
            <!-- Features -->
            <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-4">
                <div class="d-flex align-items-center">
                    <span class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4 "> <i class="fa fa-home"> </i></span>
                    <div class="ms-3">
                        <h4 class="mb-0 fw-semi-bold">30,000 verified properties</h4>
                        <p class="mb-0">Listings refreshed almost every hour</p>
                    </div>
                </div>
            </div>
            <!-- Features -->
            <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-4">
                <div class="d-flex align-items-center">
                    <span class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4 "> <i class="fa fa-users"> </i></span>
                    <div class="ms-3">
                        <h4 class="mb-0 fw-semi-bold">Expert advice</h4>
                        <p class="mb-0">Get expert suggestions for your dream home</p>
                    </div>
                </div>
            </div>
            <!-- Features -->
            <div class="col-xl-4 col-lg-4 col-md-12 mb-lg-0 mb-4">
                <div class="d-flex align-items-center">
                    <span class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4 "> <i class="fa fa-check"> </i></span>
                    <div class="ms-3">
                        <h4 class="mb-0 fw-semi-bold">Trusted sellers</h4>
                        <p class="mb-0">Get to know the seller before you buy</p>
                    </div>
                </div>
            </div>          
        </div>
    </div>
</div>
{% endblock %}