{% extends "base.html" %}
{% load static %}
<!--  mandatory for css -->
{% block base_head %}
<link rel="stylesheet" href="/static/css/reset_password.css">
{% endblock %}

{% block content %}

<div class="content_pass">
	<i class="fas fa-user-lock"></i>
	<h2>Forgot Password?</h2>

	<!-- <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
		</p> -->

	<p>Provide your account's email for which you want to reset the password!</p>

	<form method="post">

		{% csrf_token %}
		<span class="form"><i class="fas fa-envelope-open"></i>&nbsp{{form.as_table}}</span><br><br>
		<input class="btn btn-outline-success login_btn" type="Submit" name="Send email">

	</form>

</div>

{% endblock %}