.border{
    border: 1px solid black;
}
.text-grey{
    color: rgb(153, 153, 153);
    font-size: 0.85rem;
}
.QGIZl{
    padding-top: 60px;
}
.post-form-section{
    max-width: 706px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
}
.pp_h1{
    font-size: 1.75rem;
}
.pp_span{
    color: rgb(102, 102, 102);
}
.post_box{
    padding: 40px 30px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.post_box_dashed{
    padding: 40px 30px;
    border-bottom: 1px dashed rgb(221, 221, 221);
}
.dashed-1 h3{
 font-size: 1.25rem;
}
.post_type_div{
    color: rgb(153, 153, 153);
}

.post_type_div span{
    font-size: 0.85rem;
}
.post_options_inner{
    padding: 15px 0 0;
}
.post_options_inner label{
    margin-bottom: 30px;
}
.post_options_inner label input{
    display: none;
}
.post_options_inner label span{
    border: 1px solid rgb(153, 153, 153);
    border-radius: 20px;
    padding: 10px 30px;
    min-width: 80px;
    margin: 0 10px 5px 0;
    transition: all 0.2s ease-out 0s;
    cursor: pointer;
}
.post_options_inner input[type="radio"]:hover + span{
    border-color: rgb(22, 190, 195);
    color: #4ac1f7;
}
.post_options_inner input[type="radio"]:checked + span{
    border-color: rgb(22, 190, 195);
    background: rgb(22, 190, 195);
    color: rgb(255, 255, 255);
}
.post_options_inner::-webkit-scrollbar {
    display: none;
}
.post_options_inner::-webkit-scrollbar {
    display: none;
}
.amen_right*::-webkit-scrollbar:hover{
    width: 10px;
}
.max_width{
    max-width: 432px;
}
.calender_div{
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.date-input{
    width: 100%;
    outline: none;
    border: 2px solid rgba(153, 153, 153, 0.71);
    box-shadow: none;
    border-radius: 4px;
    background: transparent;
    padding: 14px;
    color: rgb(51, 51, 51);
    margin: 1px 0;
}
.date-input:hover,.city_input:hover{
    border: 2px solid orange;
    cursor: text;
    transition: all 0.2s ease 0s;
}

.avail_from{
    margin-bottom: 53px;
    margin-left: 10px;
    font-size: 12px;
    background: rgb(255, 255, 255);
    color: rgb(153, 153, 153);
    padding: 0 5px;
    position: absolute;
    transition: all 0.2s ease 0s;
    cursor: text;
}
.mandat-text{
    padding: 7px 20px;
    font-size: 12px;
    color: rgb(153, 153, 153);
    margin-top: 8px;
    margin-bottom: -10px;
}
.max_width span {
    position: absolute;
    top: 15px;
    right: 15px;
}
.prop-details-btn-div{
    width: fit-content;
}
.modal_header{
    border-bottom: 1px solid rgb(221, 221, 221);
}
.modal-dialog{
max-width: 600px;
}
.label_city{
    margin-top: -7px;
    margin-left: 10px;
    font-size: 12px;
    background: rgb(255, 255, 255);
    color: rgb(153, 153, 153);
    padding: 0 5px;
    position: absolute;
    transition: all 0.2s ease 0s;
    cursor: text;
}
.city_input{
    width: 100%;
    outline: none;
    border: 2px solid rgba(153, 153, 153, 0.71);
    box-shadow: none;
    border-radius: 4px;
    background: transparent;
    padding: 5px;
    color: rgb(51, 51, 51);
    margin: 1px 0;
}
.city_input[type=text]{
    padding-left: 15px ;
}
input[type=number]{
    padding: 10px 20px;
}
.unit-select{
    position: absolute;
    margin: 7px -55px;
    height: 36px;
    border: 1px solid rgba(153, 153, 153, 0.71);
    font-size: 16px;
    border-style: none none none solid;
    -webkit-appearance: none;
    padding-left: 9px;
    cursor: pointer;
    color: rgb(22, 190, 195);
}
.prop-details-btn-div{
    margin-top: 30px;
}
.prop-details-btn{
    text-align: left;
    width: 100%;
    padding: 14px;
    color: rgb(153, 153, 153);
    border: 2px solid rgba(153, 153, 153, 0.71);
}
.prop-details-btn:hover{
    color: rgb(153, 153, 153);
    border: 2px solid orange;
}
.calender_div input:focus+.calender_div input, .calender_div input:focus {
    color: rgb(153, 153, 153);
    border: 2px solid orange;
    box-shadow: none;
}
.fa-caret-right{
    font-size: 20px;
    /*position: absolute;*/
    margin: 18px -30px;
    color: rgb(153, 153, 153);
}
.unit-select:focus{
    border-left: 1px solid rgba(153, 153, 153, 0.71) ;
    outline: none;
}
.btn-footer{
    padding: 0 20px;
    height: 52px;
    width: 180px;
}
.border-none{
    border: none;
}
.centre{
    justify-content: center;
    display: flex;
}
.footer-div{
    padding-bottom: 30px;
}
.photo-input-div{
    background: rgb(255, 255, 255);
    width: 120px;
    height: 100px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 2px;
    margin: 0px 20px 20px 0px;
}
.card-header h3{
    font-size: 0.90rem;
    margin-top: 8px;
}
.card-header{
    border-bottom: none;
}
.image_container {
    height: 120px;
    width: 200px;
    border-radius: 6px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 2px 1px 6px rgb(255, 255, 255);
}
.image_container img {
    height: 100%;
    width: auto;
    object-fit: cover;
}
.image_container div{
    background-color: #006b1b;
}
.image_container span {
    top: -6px;
    right: 0;
    font-size: 28px;
    font-weight: normal;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.49);
    width: 36px;
    height: 38px;
    text-align: center;
    color: white;
}
.img-uploader-div p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 19px;
    font-size: 0.875rem;

}
.rupee_symbol{
    position: absolute;
    padding: 16px 20px;
    font-size: 12px;
}
.label-check-items{
    padding: 12px;
}
.label-check-items{
    cursor: pointer;
}
.label-check-items input{
    cursor: pointer;
    transform: scale(1.5);
}


.text_input:hover{
    border: 1px solid black;
    transition: all 0.3s ease 0s;
}

.tarea_div textarea{
    width: 100%;
    border: 1px solid rgb(153, 153, 153);
    box-shadow: none;
    border-radius: 6px;
    background: transparent;
    padding: 10px;
    color: rgb(51, 51, 51);
    margin: 1px 0;
    height: auto;
    resize: none;
    overflow: auto;
}
.tarea_div{
    padding-top: 14px;
}
.text_input_div{
    width: 472px;
    display: flex;
}
.text_input_label{
    position: absolute;
    color: rgb(151,151,151);
    transition: 0.2s;
}
.tarea_div label{
    margin: 18px 20px;
}
.text_input_div textarea{
    padding: 18px 20px;
}
.text_input:focus{
    border: 1px solid orange;
    outline: none;
}
.text_input:active{
    border: 1px solid orange;
    outline: none;
}
.text_input:focus ~ label{
    outline: none;
    font-size: 14px;
    margin: -13px 21px;
    background: white;
    color: orange;
    padding: 3px;
    transition: 0.2s;
}
label.active{
    outline: none;
    font-size: 14px;
    margin: -13px 21px;
    background: white;
    padding: 3px;
    transition: 0.2s;
}
.prop_floors_div{
    width: 100%;
    margin: 30px 0 0 0;
}
.prop_floors_inner_div{
    width: 100%;
}
.prop_floors_inputs_div{
    display: flex;
}
.prop_floors_inputs,.prop_floors_inputs input{
    width: 100%;
}
.prop_floors_inputs{
    padding-right: 20px;
    outline: none;
}
.prop_floors_inputs label{
    position: absolute;
    padding: 4px;
    margin: -12px 12px;
    font-size: 12px;
    background: white;
    color: rgb(153, 153, 153);
}
.prop_floors_inputs input{
    border-radius: 4px;
    border: 2px solid rgba(151,151,151,0.71);
    transition: 0.2s;
}
.prop_floor_input_field:hover{
    border: 2px solid rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}
.prop_floor_input_field:focus{
    border: 2px solid orange;
    outline: none;
    transition: 0.2s;
}
.prop_floor_input_field:active{
    border: 2px solid orange;
    outline: none;
    transition: 0.2s;
}
.select_padding{
    padding: 12px 12px;
    color: rgb(153,153,153);
}
.color_black{
    color: rgba(0, 0, 0, 0.65);
}

.amen_inner_bottom{
    /*border: 1px solid blue;*/
}
.amen_outer{
    /*border: 1px solid black;*/
}

.amen_inner_top{
    /*border: 1px solid red;*/
}
.amen_inner_bottom{
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.7);
}
.amen_right{
    width: 40%;
    height: 200px;

}
.amen_left_search_div{
    width: 100%;
    height: 50px;
    /*border: 1px solid orange;*/
}
.search_icon_amen{
    /*border-right: 1px solid rgba(128, 128, 128, 0.7);*/
    padding: 15px;
    position: absolute;
}
.search_icon_amen i{
    font-size: 20px;
    color: rgb(151, 151, 151);
}
.search_input{
    width: 100%;
    height: 100%;
    padding: 12px 55px;
    border: 1px solid rgba(128, 128, 128, 0.7);
    transition: 0.3s;
}
.search_input:focus{
    outline: none;
    border: 2px solid orange;
    transition: 0.5s;
}
.amen_left_area{
    border-right: 1px solid rgba(128, 128, 128, 0.7);
    width: 60%;
    height: 200px;
}
.amen_selected_div{
    height: 155px;
    overflow: auto;
}
.amen_right_checkboxes{
    padding: 12px 14px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 198px;
}
.amen_right_checkboxes input{
    transform: scale(1.4);
    margin-right: 6px;
}
.add_amen_button{
    position: absolute;
    float: right;
}
.div_item{
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.7);
    margin: 7px 5px;
    padding: 6px;
    width: fit-content;
    text-align: center;
    font-size: 14px;
    transition: 0.2s;
}
.div_item:hover{
    background: red;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}
.heading_div{
    height: fit-content;
    width: 100%;
    text-align: center;
    padding: 9px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    /*color: rgb(148, 147, 147);*/
    color: red;
}
.bottom_bottom{
    font-size: 11px;
    padding: 0px 3px;
    color: rgb(151, 151, 151);
    margin-bottom: 15px;
    background: white;
}
.owner_details_outer,.name_input_div,.name_input_div input{
    width: 100%;
}
.owner_details_outer{
    margin-top: 15px;
    height: 200px;
}
.name_input_outer{
    width: 65%;
    height: 25%;
}
.name_input_div{
    height: 100%;
    display: flex;
}
.name_input_div input{
    height: 100%;
    padding-left: 16px;
    transition: 0.2s;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.7);
    border-radius: 5px;
}
.name_input_div .phone_input{
    height: 100%;
    padding-left: 55px;
    transition: 0.2s;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.7);
    border-radius: 5px;
}
.name_input_div .mobile_placeholder{
    position: absolute;
    padding: 12px 55px;
    color: rgb(153,153,153);
    transition: 0.2s;
}
.name_input_div span{
    position: absolute;
    padding: 12px 18px;
    color: rgb(153,153,153);
    transition: 0.2s;
}
.name_input_div input:hover{
    border: 1px solid rgba(0, 0, 0, 0.6);
    transition: 0.2s;
}
.name_input_div input:focus{
    border: 1px solid orange;
    transition: 0.2s;
}
.name_input_div p{
    color: black;
    position: absolute;
    padding: 10px;
    font-size: 18px;
}
.name_input_div input:focus ~ span{
    font-size: 12px;
    margin: -10px 13px;
    background: white;
    padding: 2px;
    color: orange;
    transition: 0.2s;
}
.post_btn_outer{
    width: 100%;
    margin-top: 50px;
}
.post_btn_inner{
    width: 50%;
}
.post_button{
    width: 100%;
    height: 7%;
    background: linear-gradient(
            119deg
            , rgba(255, 172, 1, 0.9) 0%, rgb(247, 146, 33) 100%);
    color: white;
}
.terms_outer{
    width: 65%;
    margin-top: 25px;
}
.terms_outer p{
    text-align: left;
    color: rgb(153, 153, 153);
    font-size: 15px;
}
.terms_outer a{
    outline: none;
    color: orange;
    text-decoration: none;
}



@media all and (min-width: 280px) and (max-width: 430px){
.text_input_div{
    width: 100%;
}
    .prop_floors_inputs_div{
        display: block;
    }
    .prop_floors_inputs{
        margin-top: 15px;
    }
    .amenities_inner_input_div{
        width: 100%!important;
    }
    .amen_selected_div{
        height: 130px;
    }
    .name_input_outer, .terms_outer{
        width: 100%;
    }

}
@media screen and (min-width: 320px) and (max-width: 768px){
    .select_inner_div{
        width: 100%!important;
    }
}
@media screen and (min-width: 360px) and (max-width: 533px){
.card-header h3{
    font-size: 12px;
}
.card-header button{font-size: 10px}
.image_container {
    width: auto;
}
.image_container img{
    width: 105px;
    height: 110px;
}
.card-body{
    justify-content: center;
}
.div-check-items{
    display: block!important;
}
.QGIZl{
    padding-top: 5px!important;
}
}
@media all and (max-width: 610px){
.post_options_inner{
    padding: 15px 0 0;
    display: flex;
    overflow-x: auto;
}

}
