.QGIZl{
    padding-top: 60px;
}
.post-form-section{
    max-width: 706px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
}
.pp_h1{
    font-size: 1.75rem;
}
.pp_span{
    color: rgb(102, 102, 102);
}
.post_box{
    padding: 40px 30px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.post_box_dashed{
    padding: 40px 30px;
    border-bottom: 1px dashed rgb(221, 221, 221);
}
.dashed-1 h3{
 font-size: 1.25rem;
}
.post_type_div{
    color: rgb(153, 153, 153);
}

.post_type_div span{
    font-size: 0.85rem;
}
.post_options_inner{
    padding: 15px 0 0;
}
.post_options_inner label{
    padding-bottom: 30px;
}
.post_options_inner label input{
    display: none;
}
.post_options_inner label span{
    border: 1px solid rgb(153, 153, 153);
    border-radius: 20px;
    padding: 9px 20px;
    min-width: 80px;
    margin: 0 10px 5px 0;
    transition: all 0.2s ease-out 0s;
    cursor: pointer;
}
.post_options_inner input[type="radio"]:hover + span{
    border-color: rgb(22, 190, 195);
    color: #4ac1f7;
}
.post_options_inner input[type="radio"]:checked + span{
    border-color: rgb(22, 190, 195);
    background: rgb(22, 190, 195);
    color: rgb(255, 255, 255);
}
.post_options_inner::-webkit-scrollbar {
    display: none;
}
.max_width{
    max-width: 432px;
}
.calender_div{
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.date-input{
    width: 100%;
    outline: none;
    border: 2px solid rgba(153, 153, 153, 0.71);
    box-shadow: none;
    border-radius: 4px;
    background: transparent;
    padding: 14px;
    color: rgb(51, 51, 51);
    margin: 1px 0;
}
.date-input:hover,.city_input:hover{
    border: 2px solid orange;
    cursor: text;
    transition: all 0.2s ease 0s;
}

.avail_from{
    margin-bottom: 53px;
    margin-left: 10px;
    font-size: 12px;
    background: rgb(255, 255, 255);
    color: rgb(153, 153, 153);
    padding: 0 5px;
    position: absolute;
    transition: all 0.2s ease 0s;
    cursor: text;
}
.mandat-text{
    padding: 7px 20px;
    font-size: 12px;
    color: rgb(153, 153, 153);
    margin-top: 8px;
    margin-bottom: -10px;
}
.max_width span {
    position: absolute;
    top: 15px;
    right: 15px;
}
.prop-details-btn-div{
    width: fit-content;
}
.modal_header{
    border-bottom: 1px solid rgb(221, 221, 221);
}
.modal-dialog{
max-width: 600px;
}
.label_city{
    margin-top: -7px;
    margin-left: 10px;
    font-size: 12px;
    background: rgb(255, 255, 255);
    color: rgb(153, 153, 153);
    padding: 0 5px;
    position: absolute;
    transition: all 0.2s ease 0s;
    cursor: text;
}
.city_input{
    width: 100%;
    outline: none;
    border: 2px solid rgba(153, 153, 153, 0.71);
    box-shadow: none;
    border-radius: 4px;
    background: transparent;
    padding: 5px;
    color: rgb(51, 51, 51);
    margin: 1px 0;
}
.city_input[type=text]{
    padding-left: 15px ;
}
input[type=number]{
    padding: 10px 20px;
}
.unit-select{
    position: absolute;
    margin: 7px -55px;
    height: 36px;
    border: 1px solid rgba(153, 153, 153, 0.71);
    font-size: 16px;
    border-style: none none none solid;
    -webkit-appearance: none;
    padding-left: 9px;
    cursor: pointer;
    color: rgb(22, 190, 195);
}
.prop-details-btn-div{
    margin-top: 30px;
}
.prop-details-btn{
    text-align: left;
    width: 100%;
    padding: 14px;
    color: rgb(153, 153, 153);
    border: 2px solid rgba(153, 153, 153, 0.71);
}
.prop-details-btn:hover{
    color: rgb(153, 153, 153);
    border: 2px solid orange;
}
.calender_div input:focus+.calender_div input, .calender_div input:focus {
    color: rgb(153, 153, 153);
    border: 2px solid orange;
    box-shadow: none;
}
.fa-caret-right{
    font-size: 20px;
    /*position: absolute;*/
    margin: 18px -30px;
    color: rgb(153, 153, 153);
}
.unit-select:focus{
    border-left: 1px solid rgba(153, 153, 153, 0.71) ;
    outline: none;
}
.btn-footer{
    padding: 0 20px;
    height: 52px;
    width: 180px;
}
.border-none{
    border: none;
}
.centre{
    justify-content: center;
    display: flex;
}
.footer-div{
    padding-bottom: 30px;
}
.photo-input-div{
    background: rgb(255, 255, 255);
    width: 120px;
    height: 100px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 2px;
    margin: 0px 20px 20px 0px;
}
.card-header h3{
    font-size: 0.90rem;
    margin-top: 8px;
}
.card-header{
    border-bottom: none;
}
.image_container {
    height: 120px;
    width: 200px;
    border-radius: 6px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 2px 1px 6px rgb(255, 255, 255);
}
.image_container img {
    height: 100%;
    width: auto;
    object-fit: cover;
}
.image_container div{
    background-color: #006b1b;
}
.image_container span {
    top: -6px;
    right: 0;
    font-size: 28px;
    font-weight: normal;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.49);
    width: 36px;
    height: 38px;
    text-align: center;
    color: white;
}
.img-uploader-div p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 19px;
    font-size: 0.875rem;

}
.rupee_symbol{
    position: absolute;
    padding: 16px 20px;
    font-size: 12px;
}
.label-check-items{
    padding: 12px;
}
.label-check-items{
    cursor: pointer;
}
.label-check-items input{
    cursor: pointer;
    transform: scale(1.5);
}

@keyframes animatebottom {
    from {
        bottom: -1000px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}
.prop_desc_div{
    margin-bottom: 30px;
    max-width: 432px;
}
.prop_desc_div_inner{
    width: 100%;
}
.prop_desc_div_inner textarea{
    width: 100%;
    border: 2px solid rgb(153, 153, 153);
    box-shadow: none;
    border-radius: 4px;
    background: transparent;
    padding: 10px;
    color: rgb(51, 51, 51);
    margin: 1px 0px;
    height: auto;
    resize: none;
    overflow: auto;
}
.prop_desc_div_inner label{
    position: absolute;
    left: 450px;
    margin-top: 12px;
    color: rgb(153, 153, 153);
    transition: all 0.5s ease 0s;
    cursor: text;
    pointer-events: none;
    font-size: 20px;
}

.prop_desc_div_inner textarea:hover{
    border: 2px solid rgba(255, 165, 0, 0.67);
    transition: all 0.5s ease 0s;
}
.prop_desc_textarea:focus ~ label {
    margin-top: -10px;
    left: 455px;
    font-size: 13px;
    background-color: white;
    color: orange;

}
 textarea:focus{
    border: 2px solid rgba(255, 165, 0, 0.67);
     outline: none;
}




@media screen and (min-width: 360px) and (max-width: 533px){
    .card-header h3{
        font-size: 12px;
    }
    .card-header button{font-size: 10px}
    .image_container {
        width: auto;
    }
    .image_container img{
        width: 105px;
        height: 110px;
    }
    .card-body{
        justify-content: center;
    }
    .div-check-items{
        display: block!important;
    }
    .QGIZl{
        padding-top: 5px!important;
    }
}
@media all and (max-width: 610px){
    .post_options_inner{
        padding: 15px 0 0;
        display: flex;
        overflow-x: auto;
    }

}