body{
    background-color: #dbdbdb5b;
    overflow-x: hidden;
}
.qv{
    padding: 6%;
}


  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
  }



@media only screen and (max-width: 1000px) {
    .qv {
      padding: 0%;
    }
  }

  @media only screen and (device-width: 280px) and (device-height: 653px) and (orientation:portrait) {
    .buy-btn{width: 180px;}
    .sell-btn{width: 180px;margin-top: 10px;}
    .qv{padding: 0;}
  }
  @media only screen and (device-width: 320px) and (device-height: 634px) and (orientation:portrait) {
    .buy-btn{width: 180px;}
    .sell-btn{width: 180px;margin-top: 10px;}
  }
  @media only screen and (device-width: 1366px) and (device-height: 768px) {
    .qv{
      padding: 0%;
    }
    .queenvillaText{
      padding: 6%;
    }
    .perks{
      max-width: 1250px;
    }
  }