@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@400;600&display=swap');

.content_pass{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Newsreader', serif;
    padding: 20px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.3);
    border-radius: 5px;
    /* overflow: hidden; */
}

.content_pass h2{
    font-weight: 400;
    margin-top: 8px;
}

.content_pass .fa-user-lock{
    font-size: 70px;
}

.content_pass .fa-check-circle{
    margin-bottom: 8px;
    font-size: 70px;
    color: #198754;
}

.login_btn{
    height: 36px;
    width: 80px;
}

.link_sent_text{
    text-align: left;
}

.fa-lock{
    border: 1px solid black;
    padding: 4px;
    border-radius: 50%;
}

.form input{
    border: none;
    border-bottom: 1px solid black;
    background-color: #dbdbdb5b;
    margin-left: 3px;
    transition: width 2s;
}

.form label{
    font-size: large;
}

@media only screen and (max-width: 600px) {
    .content_pass{
        width: 75vw;
    }
}