{% extends 'base.html' %}
{% load static %}

{% block base_head %}
    <link rel="stylesheet" href="/static/css/add_prop.css?{% now 'U' %}">
{% endblock %}

{% block content %}

    <div class="QGIZl">
        <section class="post-form-section">
            <form>
                <div class="post_box">
                    <h1 class="pp_h1">Post Property</h1>
                    <span class="pp_span">Sell/Rent/Lease your property in Simple Steps. Posting ad is free of cost <i class="far fa-smile-wink"></i></span>
                    <div class="owner_details_outer title_div_outer">
                        <div class="name_input_outer title_div_inner">
                            <div class="name_input_div title_input_div">
                                <input type="text" class="name_input title_input floating_label_input" onblur="floatActive()" id="title_input" >
                                <span onclick="focusOnElement('name_input')">Property Title*</span>
                            </div>
                        </div>
                    </div>
                </div>

                {#Section -1 #}
                <div class="post_box_dashed dashed-1">
                    <h3 class="pb-3">Tell us about your property</h3>

                    <div class="post_type_div">
                        <span>List property for*</span>
                        <div class="post_options_outer">
                            <div class="post_options_inner">
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="SELL" >
                                    <span class="post_option_item">SELL</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="BUY" >
                                    <span class="post_option_item">BUY</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="RENT" >
                                    <span class="post_option_item">RENT</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="LEASE" >
                                    <span class="post_option_item">LEASE</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="post_type_div mt-3  ">
                        <span>Property type*</span>
                        <div class="post_options_outer">
                            <div class="post_options_inner">
                                <label>
                                    <input class="post_option_input" type="radio" name="propertyType" value="flat" >
                                    <span class="post_option_item">FLAT</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="propertyType" value="appartment" >
                                    <span class="post_option_item">APPARTMENT</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="propertyType" value="plot" >
                                    <span class="post_option_item">PLOT</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="propertyType" value="villaHouse" >
                                    <span class="post_option_item">VILLA&nbsp;/&nbsp;INDEPENDENT&nbsp;HOUSE</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="propertyType" value="commercial" >
                                    <span class="post_option_item">COMMERCIAL</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="propertyType" value="builderFloor" >
                                    <span class="post_option_item">BUILDER&nbsp;FLOOR</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="propertyType" value="officeSpace" >
                                    <span class="post_option_item">OFFICE&nbsp;SPACE</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="propertyType" value="others" >
                                    <span class="post_option_item">OTHERS</span>
                                </label>
                            </div>
                        </div>
                    </div>

{#                    <div class="max_width mt-3">#}
{#                        <div>#}
{#                            <div>#}
{#                                <div class="calender_div">#}
{#                                    <label class="avail_from" for="available_from">Available from</label>#}
{#                                    <input type="date" class="date-input" min="2021-08-26" name="available_from" required=""  value="2021-08-26">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}


                    {# modal button trigger #}
                    <div class="max_width mt-3">
                        <div>
                            <div>
                                <div class="calender_div">
                                    <input type="button" class="btn btn-primary prop-details-btn bg-transparent " value="Property details*" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fas fa-caret-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="d-flex p-3 modal_header">
                                    <button type="button" class="btn-close p-2" data-bs-dismiss="modal" aria-label="Close"></button>
                                    <h3 class="modal-title ms-3" id="exampleModalLabel">Property Details</h3>
                                </div>
                                <span class="mandat-text">* fields are mandatory to fill</span>
                                <div class="modal-body p-3">
                                    <div class="row p-1 mt-2 mb-4">
                                        <div class="col-lg-4 mb-2">
                                            <label class="label_city">City*</label>
                                            <input type="text" class="city_input" required>
                                        </div>
                                        <div class="col-lg-4 mb-2">
                                            <label class="label_city">Locality*</label>
                                            <input type="text" class="city_input" required>
                                        </div>
                                        <div class="col-lg-4 mb-2">
                                            <label class="label_city">Sub-locality</label>
                                            <input type="text" class="city_input" required>
                                        </div>
                                        <div class="col-lg-4 mt-2">
                                            <label class="label_city">House No</label>
                                            <input type="text" class="city_input" required>
                                        </div>
                                        <div class="col-lg-4 mt-2 w-50">
                                            <label class="label_city">Landmark</label>
                                            <input type="text" class="city_input" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="city_input p-3 mb-3" required placeholder="Project Name (optional)">
                                    </div>

                                    <div class="post_type_div mt-3 mb-2">
                                        <span>Property type*</span>
                                        <div class="post_options_outer">
                                            <div class="post_options_inner">
                                                <label>
                                                    <input class="post_option_input" type="radio" name="propertyType" value="flat" >
                                                    <span class="post_option_item">1RK</span>
                                                </label>
                                                <label>
                                                    <input class="post_option_input" type="radio" name="propertyType" value="appartment" >
                                                    <span class="post_option_item">1BHK</span>
                                                </label>
                                                <label>
                                                    <input class="post_option_input" type="radio" name="propertyType" value="builderFloor" >
                                                    <span class="post_option_item">2BHK</span>
                                                </label>
                                                <label>
                                                    <input class="post_option_input" type="radio" name="propertyType" value="villaHouse" >
                                                    <span class="post_option_item">3BHK</span>
                                                </label>
                                                <label>
                                                    <input class="post_option_input" type="radio" name="propertyType" value="villaHouse" >
                                                    <span class="post_option_item">4+&nbsp;BHK</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row p-1 mt-2 mb-4">
                                        <div class="col-lg-3 d-flex">
                                            <label class="label_city">Built Up*</label>
                                            <input type="number" class="city_input" value="0" required>
                                                <div class="unit_div">
                                                    <select class="unit-select">
                                                        <option value="Sq.Ft.">Sq.Ft.</option>
                                                        <option value="Sq.Ft.">yards</option>
                                                    </select>
                                                </div>
                                        </div>

                                        <div class="col-lg-3 d-flex">
                                            <label class="label_city">Carpet Area</label>
                                            <input type="number" class="city_input" value="0" required>
                                            <div class="unit_div">
                                                <select class="unit-select">
                                                    <option value="Sq.Ft.">Sq.Ft.</option>
                                                    <option value="Sq.Ft.">yards</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 d-flex">
                                            <label class="label_city">Length*</label>
                                            <input type="number" class="city_input" value="0" required>
                                            <div class="unit_div">
                                                <select class="unit-select">
                                                    <option value="Sq.Ft.">Sq.Ft.</option>
                                                    <option value="Sq.Ft.">yards</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 d-flex">
                                            <label class="label_city">Breadth*</label>
                                            <input type="number" class="city_input" value="0" required>
                                            <div class="unit_div">
                                                <select class="unit-select">
                                                    <option value="Sq.Ft.">Sq.Ft.</option>
                                                    <option value="Sq.Ft.">yards</option>
                                                </select>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="border-none centre footer-div">
                                    <button type="button" class="btn btn-warning text-white btn-footer">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                {# Section -2#}
                <div class="post_box">
                    <h3 class="pb-3" style="font-size: 1.25rem">Add Photos of Your Property</h3>
                    <div class="img-uploader-div w-100">
                        <div class="card shadow-sm">
                            <div class="card-header d-flex justify-content-between">
                                <h3>Image Preview will be available below</h3>
                                <form class="form" action="#" method="post" id="form1">
                                    <input type="file" name="Image" id="image" multiple="" class="d-none" onchange="image_select()">
                                    <button class="btn btn-sm btn-danger" type="button" onclick="document.getElementById('image').click()">Choose Images</button>
                                </form>
                            </div>
                            <div class="card-body flex-wrap" id="container">
                                <!-- Image will be show here-->
                            </div>
                        </div>
                        <p class="dxhf6u-0 hSaRrp jxvgwa-7 lmibEW"><b>Photos <span class="img-count" id="img-count"> <!-- -->0<!-- -->/15 </span> </b>Increase your chances of getting genuine responses by adding atleast 5 images. <br> Hall, Bedroom, Kitchen, and Bathroom images will be ideal to add for a home</p>
                    </div>

                </div>

                {# Section -3#}
                <div class="post_box_dashed dashed-1">
                    <h3>Property Price</h3>
                    <div class="col-lg-6 d-flex mt-4">
                        <label class="label_city">price*</label>
                        <label class="rupee_symbol" id="rupee"><i class="fas fa-rupee-sign"></i></label>
                        <input type="number" id="sale_price" class="city_input" placeholder="Sale Price (eg 5,00,000)" required onchange="format_amount()" style="padding-left: 35px">
                    </div>

                    <div class="div-check-items d-flex mt-3">
                        <label class="label-check-items me-3">
                            <input type="checkbox" name="is_negotiable">
                            <span class="text-is-negotiable ms-2">Price is negotiable</span>
                        </label>
                        <label class="label-check-items">
                            <input type="checkbox" name="is_negotiable">
                            <span class="text-is-negotiable ms-2">Price includes registration</span>
                        </label>
                    </div>

                </div>


                {# section -4 #}
                <div class="post_box_dashed">
                    <h6>More information about your property</h6>
                    <div class="inner_div">
                        <div class="tarea_div">
                            <div class="text_input_div">
                                <textarea class="text_input floating_label_input" type="text" id="desc_input" name="description" required="" rows="6" onblur="floatActive()"></textarea>
                                <label class="text_input_label" for="description" onclick="focusOnElement('desc_input')">Describe your property (min 30 words)*</label>
                            </div>
                        </div>
                    </div>

                    <div class="prop_floors_div">
                        <div class="prop_floors_inner_div">
                            <div class="prop_floors_inputs_div">
                                <div class="prop_floors_inputs">
                                    <label>Property on floor*</label>
                                    <input type="number" class="prop_floor_input_field" min="1">
                                </div>
                                <div class="prop_floors_inputs">
                                    <label>Total floors*</label>
                                    <input type="number" class="prop_floor_input_field" min="1">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post_type_div pt-4">
                        <span class="">Furnishing</span>
                        <div class="post_options_outer pt-1">
                            <div class="post_options_inner">
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="FULLYFURNISHED" >
                                    <span class="post_option_item">Fully&nbsp;Furnished</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="SEMIFURNISHED" >
                                    <span class="post_option_item">Semi&nbsp;Furnished</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="UNFURNISHED" >
                                    <span class="post_option_item">Unfurnished</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="OTHER" >
                                    <span class="post_option_item">Other</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="post_type_div pt-2">
                        <span class="">Number Of Bathrooms</span>
                        <div class="post_options_outer pt-1">
                            <div class="post_options_inner">
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="0" >
                                    <span class="post_option_item">0</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="1" >
                                    <span class="post_option_item">1</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="2" >
                                    <span class="post_option_item">2</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="3+" >
                                    <span class="post_option_item">3+</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="select_outer_div mt-3 mb-4">
                        <div class="select_inner_div w-50">
                            <span class="text-grey">Number of balconies</span>
                            <select class="form-select mt-2 select_padding" aria-label="Default select example">
                                <option value="1" class="color_black">1</option>
                                <option value="2" class="color_black">2</option>
                                <option value="3" class="color_black">3</option>
                                <option value="4+" class="color_black">4+</option>
                            </select>
                        </div>
                    </div>

                    <div class="post_type_div">
                        <span>Posession*</span>
                        <div class="post_options_outer">
                            <div class="post_options_inner">
                                <label>
                                    <input class="post_option_input" type="radio" name="posession" value="READY TO MOVE" >
                                    <span class="post_option_item">READY TO MOVE</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="posession" value="IN 3 MONTHS" >
                                    <span class="post_option_item">IN 3 MONTHS</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="posession" value="IN 6 MONTHS" >
                                    <span class="post_option_item">IN 6 MONTHS</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="posession" value="MORE THAN 6 MONTHS" >
                                    <span class="post_option_item">LEASE</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="amen_outer">
                        <div class="amen_inner_top d-flex">
                            <div class="amen_left_search_div">
                                <span class="search_icon_amen"><i class="fa fa-search"></i></span>
                                <input class="search_input" id="search_amen_input" type="text" placeholder="Type or select amenities..." onkeyup="filterFunc()" onclick="emptyInput()">
                            </div>
{#                            <button type="button" class="btn btn-outline-warning add_amen_button">Add</button>#}
                        </div>
                        <div class="amen_inner_bottom">
                            <div class="amen_left_area" id="amen_left_area">
                                <div class="heading_div">
                                    <span id="no_content_placeholder">You have not selected anything</span>
                                </div>
                                <div class="amen_selected_div">
                                    <div class="container">
                                        <div class="row" id="amen_selected_div">
{#                                            <div class="col-4 div_item">#}
{#                                                <span>column -1</span>#}
{#                                            </div>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="amen_right">
                                <div class="amen_right_checkboxes" id="amen_list">

                                <div id="prop_fac">
                                    <div>
                                        <h5>Property Facilities</h5>
                                    </div>
                                    <div class="pb-2 prop_fac">
                                        <input type="checkbox" id="Club House" name="Club House" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">Wifi</span>
                                    </div>
                                    <div class="pb-2 prop_fac">
                                        <input type="checkbox" id="Parking" name="Parking" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">Inverter</span>
                                    </div>
                                    <div class="pb-2 prop_fac">
                                        <input type="checkbox" id="24hr water supply" name="24hr water supply" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">refrigerator</span>
                                    </div>
                                    <div class="pb-2 prop_fac">
                                        <input type="checkbox" id="24hr water supply" name="24hr water supply" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">Air Conditioner</span>
                                    </div>
                                    <div class="pb-2 prop_fac">
                                        <input type="checkbox" id="24hr water supply" name="24hr water supply" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">Geyser</span>
                                    </div>
                                    <div class="pb-2 prop_fac">
                                        <input type="checkbox" id="24hr water supply" name="24hr water supply" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">Modular Kitchen</span>
                                    </div>
                                    <div class="pb-2 prop_fac">
                                        <input type="checkbox" id="24hr water supply" name="24hr water supply" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">Bath Tub</span>
                                    </div>
                                </div>

                                <div id="other_rooms">
                                    <div class="pt-3">
                                        <h5>Other Rooms</h5>
                                    </div>
                                    <div class="pb-2 other_rooms">
                                        <input type="checkbox" id="Club House" name="Club House" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">Study room</span>
                                    </div>
                                    <div class="pb-2 other_rooms">
                                        <input type="checkbox" id="Parking" name="Parking" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">Pooja room</span>
                                    </div>
                                    <div class="pb-2 other_rooms">
                                        <input type="checkbox" id="24hr water supply" name="24hr water supply" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">Store room</span>
                                    </div>
                                </div>

                                <div id="other_amen">
                                    <div class="pt-3">
                                        <h5>Other Amenities</h5>
                                    </div>
                                    <div class="pb-2 other_amen">
                                        <input type="checkbox" id="Club House" name="Club House" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">Club House</span>
                                    </div>
                                    <div class="pb-2 other_amen">
                                        <input type="checkbox" id="Parking" name="Parking" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">Parking</span>
                                    </div>
                                    <div class="pb-2 other_amen">
                                        <input type="checkbox" id="24hr water supply" name="24hr water supply" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">24hr water supply</span>
                                    </div>
                                    <div class="pb-2 other_amen">
                                        <input type="checkbox" id="Gym" name="Gym" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">Gym</span>
                                    </div>
                                    <div class="pb-2 other_amen">
                                        <input type="checkbox" id="Lift" name="Lift" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">Lift</span>
                                    </div>
                                    <div class="pb-2 other_amen">
                                        <input type="checkbox" id="24hr Electricity supply" name="24hr Electricity supply" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">24hr Electricity supply</span>
                                    </div>
                                    <div class="pb-2 other_amen">
                                        <input type="checkbox" id="Cafeteria" name="Cafeteria" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">Cafeteria</span>
                                    </div>
                                    <div class="pb-2 other_amen">
                                        <input type="checkbox" id="Park" name="Park" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">Park</span>
                                    </div>
                                    <div class="pb-2 other_amen">
                                        <input type="checkbox" id="24hr water supply" name="24hr water supply" onclick='handleClick(this)'>
                                        <span class="checkbox_spans" id="checkbox_item">Swimming Pool</span>
                                    </div>
                                </div>

                                </div>
                            </div>
                        </div>
                        <div class="bottom_bottom">
                            <span>NOTE: Click on Element or uncheck selected items to remove amenities</span>
                        </div>
                    </div>

                    <div class="select_outer_div mt-4">
                        <div class="select_inner_div w-50">
                            <span class="text-grey">Direction Facing</span>
                            <select class="form-select mt-2 select_padding" aria-label="Default select example">
                                <option value="North" class="color_black">North</option>
                                <option value="South" class="color_black">South</option>
                                <option value="East" class="color_black">East</option>
                                <option value="North-East" class="color_black">North-East</option>
                                <option value="North=West" class="color_black">North-West</option>
                                <option value="South-West" class="color_black">South-West</option>
                                <option value="South-East" class="color_black">South-East</option>
                            </select>
                        </div>
                    </div>



                </div>

                {# section -5 #}
                <div class="post_box">
                    <h3 class="pb-3" style="font-size: 1.25rem ">Your Details</h3>

                    <div class="post_type_div">
                        <span>You are*</span>
                        <div class="post_options_outer">
                            <div class="post_options_inner">
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="SELL" >
                                    <span class="post_option_item">Owner</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="BUY" >
                                    <span class="post_option_item">Agent</span>
                                </label>
                                <label>
                                    <input class="post_option_input" type="radio" name="postType" value="RENT" >
                                    <span class="post_option_item">Builder</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="owner_details_outer">
                        <div class="name_input_outer">
                            <div class="name_input_div">
                                <input type="text" class="name_input floating_label_input" id="name_input" onblur="floatActive()" >
                                <span onclick="focusOnElement('name_input')">Full Name*</span>
                            </div>

                            <div class="name_input_div mt-4">
                                <input type="text" class="email_input floating_label_input" id="email_input" onblur="floatActive()">
                                <span id="email_span" onclick="focusOnElement('email_input')">Email Address*</span>
                            </div>

                            <div class="name_input_div mt-4">
                                <input type="number" class="phone_input floating_label_input" maxlength="10" id="phone_input" onblur="floatActive()">
                                <p style="color: black">+91</p>
                                <span class="mobile_placeholder" onclick="focusOnElement('phone_input')" id="mobile_input">Mobile No*</span>
                            </div>
                            <div class="bottom_bottom">
                                <span>This mobile number will be used for further communication and stuff</span>
                            </div>
                        </div>
                    </div>
                    <div class="post_btn_outer">
                        <div class="post_btn_inner">
                            <button type="submit" class="btn btn-warning post_button">Post Ad Now</button>
                        </div>
                    </div>
                    <div class="terms_outer">
                        <p>By proceeding, you agree to our <a href="#">Terms of use</a> & <a href="#">Privacy Policy</a>

                            To use the old form to list your property <a href="#">click here</a></p>
                    </div>
                </div>

            </form>

        </section>
    </div>

{% endblock %}




{% block javascript  %}
    <script>
        $(document).ready(function (){
            $(".text_input_div .text_input").blur(function (){
                if($(this).val()!==""){
                    $(this).siblings("label").addClass("active");

                }
                else{
                    $(this).siblings("label").removeClass("active");

                }
            });

            document.getElementById("rupee").style.display = "none";
            document.getElementById("sale_price").style.paddingLeft = "20px";
            document.getElementById('container').style.display = "none";

        });


        var images = [];

        <!-- this function will select images -->
        function image_select() {
            var image = document.getElementById('image').files;
            for (i = 0; i < image.length; i++) {
                if (check_duplicate(image[i].name)) {
                    images.push({
                        "name" : image[i].name,
                        "url" : URL.createObjectURL(image[i]),
                        "file" : image[i],
                    })
                } else
                {
                    alert(image[i].name + " is already added to the list");
                }
            }
            {#document.getElementById('form1').reset();#}
            document.getElementById('container').innerHTML = image_show();
        }

        <!-- this function will show images in the DOM -->
        function image_show() {
            document.getElementById('container').style.display = "flex";
            document.getElementById("img-count").innerText = images.length + " /15";
            var image = "";
            images.forEach((i) => {
                image += `<div class="image_container d-flex justify-content-center position-relative">
   	  	  	  	  <img src="${i.url}" alt="Image">
                    <span class="position-absolute" onclick="delete_image(${images.indexOf(i)})">&times;</span>
   	  	  	  </div>`;
            })
            return image;
        }

        <!-- this function will delete a specific image from the container -->
        function delete_image(e) {
            images.splice(e, 1);
            document.getElementById('container').innerHTML = image_show();
            document.getElementById("img-count").innerText = images.length + " /15";

        }

        <!-- this function will check duplicate images -->
        function check_duplicate(name) {
            var image = true;
            if (images.length > 0) {
                for (e = 0; e < images.length; e++) {
                    if (images[e].name == name) {
                        image = false;
                        break;
                    }
                }
            }
            return image;
        }

        function get_image_data() {
            var form = new FormData()
            for (let index = 0; index < images.length; index++) {
                form.append("file[" + index + "]", images[index]['file']);
            }
            return form;
        }

        function format_amount(){
            var x=document.getElementById("sale_price").value;
            x=x.toString();
            var num="";
            for(var i=0;i<x.length;i++){
                if(x.charAt(i) !== ','){
                    num+=x.charAt(i);
                }
            }
            var res = new Intl.NumberFormat('en-IN', {currency: 'INR', minimumFractionDigits: 0 }).format(num);
            console.log(res);

            document.getElementById("sale_price").type = "text";
            document.getElementById("sale_price").value = res;
            document.getElementById("rupee").style.display = "flex";
            document.getElementById("sale_price").style.paddingLeft = "35px";
        }

        function emptyInput() {
           var input = document.getElementById("search_amen_input");
            input.value = '';

            var div = document.getElementById("amen_list");
            spantext = div.getElementsByClassName("pb-2");

            for(i=0;i<spantext.length;i++) {
                spantext[i].style.display = '';
            }
        }

        function filterFunc(){
            var input, filtertext, div, spantext;

            input = document.getElementById("search_amen_input");
            filtertext = input.value.toUpperCase();
            div = document.getElementById("amen_list");
            spantext = div.getElementsByClassName("pb-2");

            for (i = 0; i < spantext.length; i++) {
                txtValue = spantext[i].textContent || spantext[i].innerHTML;
                if (txtValue.toUpperCase().indexOf(filtertext) > -1) {
                    spantext[i].style.display = "";
                } else {
                    spantext[i].style.display = "none";
                }
            }

            var propFac = document.getElementsByClassName('prop_fac');
            var otherRooms = document.getElementsByClassName('other_rooms');
            var other_amens = document.getElementsByClassName('other_amen');

            var isPropFacOptionAvail = false;
            var isOtherRoomOptionAvail = false;
            var isOtherAmenOptionAvail = false;

            for(var i=0;i<propFac.length;i++) {
                var display = getComputedStyle(propFac[i]).display;
                {#console.log(display)#}
                if(!display.toString().includes('none')){
                    {#console.log('found one')#}
                    isPropFacOptionAvail = true;
                    break;
                }
            }
            for(i=0;i<otherRooms.length;i++) {
                display = getComputedStyle(otherRooms[i]).display;
                {#console.log(display)#}
                if(!display.toString().includes('none')){
                    {#console.log('found one')#}
                    isOtherRoomOptionAvail = true;
                    break;
                }
            }
            for(i=0;i<other_amens.length;i++) {
                display = getComputedStyle(other_amens[i]).display;
                {#console.log(display)#}
                if(!display.toString().includes('none')){
                    {#console.log('found one')#}
                    isOtherAmenOptionAvail = true;
                    break;
                }
            }


            if(isPropFacOptionAvail){
                document.getElementById('prop_fac').style.display = '';
            }
            else{
                document.getElementById('prop_fac').style.display = 'none';
            }

            if(isOtherRoomOptionAvail){
                document.getElementById('other_rooms').style.display = '';
            }
            else{
                document.getElementById('other_rooms').style.display = 'none';
            }
            if(isOtherAmenOptionAvail){
                document.getElementById('other_amen').style.display = '';
            }
            else{
                document.getElementById('other_amen').style.display = 'none';
            }

        }

        var selected = [];


        function removeItem(id){
            document.getElementById(id+'_div').remove();
            const index = selected.indexOf(id);

            if (index > -1) {
                selected.splice(index, 1);
                document.getElementById(id).checked = false
            }
            if(selected.length === 0){
                document.getElementById('no_content_placeholder').innerHTML = 'You have not selected anything';
                document.getElementById('no_content_placeholder').style.color = 'red';
            }
            console.log(selected)
        }

        function handleClick(cb) {
            if(!selected.includes(cb.name) && cb.checked){
                selected.push(cb.name);
                console.log(selected)
                div = document.getElementById("amen_selected_div");
                div_item = document.createElement("div");
                div_item.setAttribute('class','div_item col-4');
                div_item.setAttribute('id',cb.name+'_div');
                div_item.setAttribute('onclick','removeItem( "'+cb.name+'" )');
                span = document.createElement("span")
                span.innerHTML = cb.name;
                div_item.appendChild(span);
                div.appendChild(div_item);
                document.getElementById('no_content_placeholder').innerHTML = 'You have selected the following';
                document.getElementById('no_content_placeholder').style.color = 'rgb(148, 147, 147)';
            }
            else{
                console.log('unchecked')
                const index = selected.indexOf(cb.name);
                if (index > -1) {
                    selected.splice(index, 1);
                    document.getElementById(cb.name+'_div').remove();
                }
                if(selected.length === 0){
                    document.getElementById('no_content_placeholder').innerHTML = 'You have not selected anything';
                    document.getElementById('no_content_placeholder').style.color = 'red';
                }
                console.log(selected);

            }
        }

        function focusOnElement(id){
            document.getElementById(id).focus();
        }

        function floatActive() {
            var inputs = document.getElementsByClassName('floating_label_input');

            for(var i=0;i<inputs.length;i++){
                var text = inputs[i].value;

                if(text.length > 0){
                    inputs[i].classList.add('active');
                }
                else{
                    inputs[i].classList.remove('active');
                }

            }
        }


    </script>
{% endblock %}