{% extends "base.html" %}
{% load static %}
{% block base_head %}
    <link rel="stylesheet" href="/static/css/listingpage.css?{% now 'U' %}">
{% endblock %}
{% block content %}

    <div class="row">

                <div class="col-lg-12 left">
                    {% include 'residentials/residenital-filter.html' with sb=selected_bhk form=filter_form %}
                </div>

        <h3 class="text-center" id="filter-section"></h3>

                <div class="col-lg-12 red">
                    <div class="container-fluid">
                            {% for obj in object_list %}
                                {% include 'residentials/card.html' with instance=obj %}
                            {% endfor %}
                    </div>

                </div>

            </div>
        </div>

{% endblock %}
{% block javascript %}
    <script>

        function finalurl(beds) {
            window.location.href.replace(window.location.search, '');
            console.log("chlja plz", beds)
            var url = new URL(window.location.href);
            console.log(url)
            var search_params = url.searchParams;
            console.log(search_params)
            {#search_params.set('bedrooms', document.getElementById("id_bhks_0").value);#}
            search_params.set('bedrooms', beds);
            url.search = search_params.toString();
            console.log(url.search)
            var new_url = url.toString();
            return new_url
        }

        function finalurl1(price) {
            window.location.href.replace(window.location.search, '');
            console.log("chlja plz", price)
            var url = new URL(window.location.href);
            console.log(url)
            var search_params = url.searchParams;
            console.log(search_params)
            {#search_params.set('bedrooms', document.getElementById("id_bhks_0").value);#}
            search_params.set('price', price);
            url.search = search_params.toString();
            console.log(url.search)
            var new_url = url.toString();
            return new_url
        }

        var x = document.getElementsByClassName("prop-price");
        {#console.log(x);#}
        {#x = x.toString();#}
        console.log(x.length)

        var num1='';
        for(j=0;j<x.length;j++){
            var num = x[j].innerHTML;
            {#num = num.toString();#}
            {#console.log( num)#}

            var res = new Intl.NumberFormat('en-IN', {currency: 'INR', minimumFractionDigits: 0}).format(num);
            console.log(res);

            x[j].innerHTML = res;
        }
    </script>
     <script type="text/javascript" src="/static/js/list-resi.js"></script>
{% endblock %}