{% load static %}
{% block base_head %}
    <link rel="stylesheet" href="/static/css/home_page.css?{% now 'U' %}">


{% endblock %}


<div class="m-4">
    <form method="GET" action="{% url "residential:residentiallistingHome" %}" id="test">
{#        {{ form.bhks }}#}
        <div class="fieldWrapper">
    {{ form.bhks.errors }}
    <label for="{{ form.bhks.id_for_label }}"  style="background: none;color:black;"><b>Bedrooms:</b></label>
    {{ form.bhks }}<br>
</div>
                <div class="fieldWrapper">
    {{ form.price.errors }}
    <label for="{{ form.price.id_for_label }}"  style="background: none;color:black;"><b>Price Range:</b></label>
    {{ form.price }}<br>
</div>

{#        <p>Amenities</p>#}
{#        <input type="checkbox" id="amenity1" name="amenities" value="Park Facing" class="myclass">#}
{#        <label for="amenity1">Park Facing</label><br>#}
{#        <input type="checkbox" id="amenity2" name="amenities" value="Extra Parking Space" class="myclass">#}
{#        <label for="amenity2"> Extra Parking Space</label><br>#}
{#        <input type="checkbox" id="amenity3" name="amenities" value="Swimming Pool" class="myclass">#}
{#        <label for="amenity3"> Swimming Pool </label><br><br>#}


        <a class="btn btn-outline-danger" href="{% url 'residential:residentiallistingHome' %}"> Clear all filters</a>
    </form>
</div>
